
<div class="col-xs-12">
    <div class="row">
            <h3>Welcome to TARIQ Construction!</h3>
        <p>
            <span>
                    In general, there are three sectors of construction: buildings, infrastructure and industrial.[6] Building construction is usually further divided into residential and non-residential (commercial/institutional). Infrastructure is often called heavy civil or heavy engineering that includes large public works, dams, bridges, highways, railways, water or wastewater and utility distribution. Industrial construction includes refineries, process chemical, power generation, mills and manufacturing plants. There are also other ways to break the industry into sectors or markets.
            </span>
        </p>
    </div>
</div>
